<!doctype html>
<html manifest="cache.manifest">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <title>SABnzbd</title>
		
        <!-- ext -->
        <script type="text/javascript" src="vendor/ext/adapter/ext/ext-base-debug.js"></script>
        <script type="text/javascript" src="vendor/ext/ext-all-debug.js"></script>
        <link rel="stylesheet" href="vendor/ext/resources/css/ext-all.css" type="text/css">
		
        <!-- application -->
		<script type="text/javascript" src="src/application-all.js"></script>
	</head>
	
	<body></body>
</html>