<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - $T('queued'): $mbleft MB</title>
    <link rel="stylesheet" type="text/css" href="$statpath/static/stylesheets/default.css"/>
    <link rel="stylesheet" type="text/css" href="$statpath/static/stylesheets/defaultcolors.css"/>
    <!--#if $color_scheme#-->
        <link rel="stylesheet" type="text/css" href="$statpath/static/stylesheets/colorschemes/$color_scheme"/>
    <!--#end if#-->
    <!--#if $varExists('have_refresh') and $have_refresh#-->
        <meta http-equiv="refresh" content="$have_refresh">
    <!--#end if#-->
    <link rel="shortcut icon" href="$statpath/static/images/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss?mode=history&apikey=$session"/>

</head>
<body>
