<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <title>SABnzbd</title>
		
        <!-- ext -->
        <script type="text/javascript" src="static/vendor/ext/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="static/vendor/ext/ext-all.js"></script>
        <link rel="stylesheet" href="static/vendor/ext/resources/css/ext-all.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="static/vendor/ext/resources/css/xtheme-gray.css"/>
		<link rel="stylesheet" type="text/css" href="static/stylesheets/default.css"/>
		
        <!-- application -->
        <script type="text/javascript">
        	SessionKey = '$session';
        </script>
		<script type="text/javascript" src="static/src/application-all.js"></script>
	</head>
	
	<body></body>
</html>