.upload-icon {
	background: url('../static/images/info.png') no-repeat 0 0 !important;
}

.x-grid3-dirty-cell {
	background-image:none;
}

.x-tab-strip-active span.x-tab-strip-text {
	font-weight:normal;
}

.Paused {
	background: #ecf8fc;
}

.Downloading {
	background: #fff6e4;
}

.Idle {
	background: #ffffff;
}

.finishedrow {
	background: #d1ffd3;
}

.queuedrow {
	background: #ffeadd;
}

.file-icon {
	background-image: url(../static/images/save.png);
}

.loading-tab {
	background-image: url(../static/extjs/resources/images/default/grid/loading.gif);
}

.conection-icon {
	background-image: url(../static/images/network.png);
}

.warning-icon {
	background-image: url(../static/images/warning.png);
}
